/* @import url('https://fonts.googleapis.com/css2?family=Stalemate&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Stalemate&display=swap');

.footer__container {
    /* display: flex;
    justify-content: center; */
    font-family: 'Glass Antiqua', sans-serif;
    font-size: 1em;
    background-color: rgba(19, 1, 1, 0.65);
    letter-spacing: 1.2px;
    color: #ffffff;
}

.footer__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
}

.footer__links {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 16px;
}

.footer__links a {
    margin: 4px 8px;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 8px;
}

.footer__links a:hover {
    padding-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: fit-content;
}

.footer__social {
    margin-bottom: 16px;
    display: flex;;
    background-color: #ffffff;
    border-radius: 50px;
}

.social__icon {
    margin: 4px 12px;
    transition: all 0.5s;   
}

.social__icon:hover {
    transform: scale(1.2);
}

